/* Structure */
.example-container {
    position: relative;
    padding: 5px;
}

.wtw-table-container {
    position: relative;
    max-height: 400px;
    overflow: auto;
}

table {
    width: 100%;
}

.wtw-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(233, 174, 230, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}